<div class="container">
  <h1><%= "Hey #{current_user.first_name}," %></h1>
  <p>You should be receiving a text from 720-259-9396 to verify your phone number shortly. Once you verify your number, you're all set.</p>
  <%= image_tag 'smiley-face.jpg' %>
</div>
