  <div class="jumbotron">
  <h1>Team TabSquared</h1>
  <p>Tabsquared was an idea generated at the last minute from the <a href="http://a16zhack2013.eventbrite.com/">Andreessen Horowitz</a> Hackathon in 2013</p>
  <p></p>
  <q>Check out HOROWITZ HOUSE OF UNLIMITED TACOS, PIZZAS, AND BAGELS (Menlo Park) on : <a href="http://4sq.com/1bogucW">@foursquare</a></q><br>
<%= image_tag "team.jpg", width: '30%' %>
  <h4><a href="http://www.github.com/jaredsmithse"> Jared Smith </a>|<a href="http://www.github.com/stephenitis"> Stephen Nguyen </a>|<a href="http://www.github.com/samsamskies"> Sam Miyakawa </a></h4>
</div> 