<div class="jumbotron">
    <div class="container">
        <h1>Manage a Foursquare Location?</h1>
        <p>Get realtime push notifications for checkins at your venues and react accordingly!</p>


        <% if current_user %>
        <%= link_to "Sign Out", signout_path, method: :delete %>
        <% else %>
        <p> <%= link_to "Connect with Foursquare", "/auth/foursquare", { class: "btn btn-primary btn-lg"} %></p>
        <% end %>

        <small>Your account must have Manager privileges to sign up</small>
        <small>find out how <strong><a href="http://support.foursquare.com/entries/21376233-Claim-Your-Business-On-Foursquare"> here</a></strong></small>
        <br>
        <br>
        <small><a href="about">about</a></small>

    </div>
</div>


