// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  // background: url('background.jpg') no-repeat center center fixed;
  background: asset-url('background.jpg', image) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size:cover;
    padding-top: 50px;
}

body{
  background:none;
}

.jumbotron{
  z-index: 99; 
	text-align: center;
  color:rgb(214,214,214);
  background-color: rgba(0, 0, 0, 0.6);
}

footer{
  z-index: -99;
     position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   padding: 0 0 10px 0;
  color:white
}
#spinner {
  display: none;
}

footer{
  text-align: center;
}
