// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
	text-align: center;
  color:rgb(214,214,214);
  background-color: rgba(0, 0, 0, 0.6);
}

footer{
     position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   padding: 0 0 10px 0;
  color:white
}